<% no_zeros = false unless local_assigns[:no_zeros] %>
<h2>Players</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Player</th>
      <th>Matches</th>
      <th>Games</th>
      <th>Skill Points</th>
      <th>Skill Trend</th>
    </tr>
  </thead>
  <tbody>
    <% pl = !no_zeros ? @players : Player.by_no_zeros %>
    <% pl.each_with_index do |player, idx| %>
      <tr>
        <td class='ranking'>#<%= link_to(player.ranking, player) %></td>
        <td><%= link_to(player.name, player) %></td>
        <td><%= link_to("#{player.wins} - #{player.losses}", player) %></td>
        <td><%= link_to("#{player.game_wins} - #{player.game_losses}", player) %></td>
        <td><%= link_to(number_with_precision(player.trueskill), player) %></td>
        <td><%= player_trend_icon(player) %> <%= number_with_precision(player.player_rating_trend_diff) %></td>
      </tr>
    <% end %>
  </tbody>
</table>