<%= get_header(@player.name) %>
<%= edit_button('player', @player) %>
<h2>#<%= @player.ranking %>. <%= @player.name %> (<%= @player.wins %> - <%= @player.losses %>, <%= @player.game_wins %> - <%= @player.game_losses %>)</h2>
<div class="row">
  <h3>Skill Points: <%= number_with_precision(@player.trueskill) %></h3>
  <div class="col-md-3">
    <h4>Best Buddy</h4>
    <p><%= @player.best_buddy.try(:name) || "You have no buddies" %></p>
  </div>
  <div class="col-md-3">
    <h4>Nemesis</h4>
    <p><%= @player.nemesis.try(:name) || "Nobody is whooping your ass" %></p>
  </div>
  <div class="col-md-3">
    <h4>Rival</h4>
    <p><%= @player.rival.try(:name) || "You have no equal" %></p>
  </div>
  <div class="col-md-3">
    <h4>Punching Bag</h4>
    <p><%= @player.punching_bag.try(:name) || "You ARE the weakest link" %></p>
  </div>
</div>
<h3>Match History</h3>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Opponent</th>
      <th>Result</th>
      <th>Game 1</th>
      <th>Game 2</th>
      <th>Game 3</th>
    </tr>
  </thead>
  <tbody>
    <% @player.matches.each do |match| %>
      <tr>
        <td class='ranking'>#<%= link_to(match.id, match) %></td>
        <td><%= link_to(match.datestr, match) %></td>
        <td>
          <ul>
          <% match.opponents(@player).each do |opp| %>
            <%= content_tag(:li, link_to(opp.name, opp)) if opp %>
          <% end %>
          </ul>
        </td>
        <td><%= match.is_winning_player?(@player) ? '<b>WIN</b>'.html_safe : 'LOSS' %></td>
        <td><%= match.game_1_score_1 %> - <%= match.game_1_score_2 %></td>
        <td><%= match.game_2_score_1 %> - <%= match.game_2_score_2 %></td>
        <td><%= match.game_3_score_1 %> - <%= match.game_3_score_2 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
