<% limit = local_assigns[:limit] %>
<% matches = local_assigns[:matches] || @matches %>
<%= content_tag(:h2, 'Matches') unless local_assigns[:no_title] %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Game 1</th>
      <th>Game 2</th>
      <th>Game 3</th>
    </tr>
  </thead>
  <tbody>
    <% m = limit ? matches.take(limit) : matches %>
    <% m.each do |match| %>
      <tr>
        <td class="ranking">#<%= match.id %></td> 
        <td><%= link_to(match.datestr, match) %></td>
        <td class="teams">
          <ul <%= "class='winner'".html_safe if match.is_winner?(match.team_1) %>>
            <%= content_tag(:li) { player_link(match.team_1_player_1) } if match.team_1_player_1 %>
            <%= content_tag(:li) { player_link(match.team_1_player_2) } if match.team_1_player_2 %>
          </ul>
        </td>
        <td class="teams">
          <ul <%= "class='winner'".html_safe if match.is_winner?(match.team_2) %>>
            <%= content_tag(:li) { player_link(match.team_2_player_1) } if match.team_2_player_1 %>
            <%= content_tag(:li) { player_link(match.team_2_player_2) } if match.team_2_player_2 %>
          </ul>
        </td>
        <td><%= game_score(match.game_1) if game_1 %></td>
        <td><%= game_score(match.game_2) if game_2 %></td>
        <td><%= game_score(match.game_3) if game_3 %></td>
      </tr>
    <% end %>
  </tbody>
</table>