<%= get_header(@match.datestr) %>
<%= edit_button('match', @match) %>
<h2>Match: <%= @match.datestr %></h2>
<table>
  <thead>
    <tr>
      <th>Team 1</th>
      <th>Team 2</th>
      <th>Game 1</th>
      <th>Game 2</th>
      <th>Game 3</th>
    </tr>
  </thead>
  <tbody>
    <td class="teams">
      <ul <%= "class='winner'".html_safe if @match.is_winner?(@match.team_1) %>>
        <%= content_tag(:li) { player_link(@match.team_1_player_1) } if @match.team_1_player_1 %>
        <%= content_tag(:li) { player_link(@match.team_1_player_2) } if @match.team_1_player_2 %>
      </ul>
    </td>
    <td class="teams">
      <ul <%= "class='winner'".html_safe if @match.is_winner?(@match.team_2) %>>
        <%= content_tag(:li) { player_link(@match.team_2_player_1) } if @match.team_2_player_1 %>
        <%= content_tag(:li) { player_link(@match.team_2_player_2) } if @match.team_2_player_2 %>
      </ul>
    </td>
    <td><%= game_score(@match.game_1) if @match.game_1 %></td>
    <td><%= game_score(@match.game_2) if @match.game_2 %></td>
    <td><%= game_score(@match.game_3) if @match.game_3 %></td>
  </tbody>
</table>
