<div class="row">
  <%= f.label :first_name %> <%= f.text_field :first_name %>
  <%= f.label :last_name %> <%= f.text_field :last_name %>
  <%= f.label :email %> <%= f.text_field :email, value: (f.email || current_user.email) %>
  <label for="gravatar">Avatar:</label> <div><%= avatar_big(@player) %> <a href="https://en.gravatar.com/" target="_blank">Set up your Gravatar</a></div>
</div>
<%= f.submit 'Submit', class: 'button btn-edit' %>
<%= cancel_button('players') %>