<table>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Opponent</th>
      <th>Result</th>
      <th>Game 1</th>
      <th>Game 2</th>
      <th>Game 3</th>
    </tr>
  </thead>
  <tbody>
    <% @player.matches.reverse.each do |match| %>
      <tr>
        <td class='ranking'>#<%= link_to(match.id, match) %></td>
        <td><%= link_to(match.datestr, match) %></td>
        <td class="teams">
          <ul>
            <%= content_tag(:li) { player_link(match.opponent(@player)) } %>
          </ul>
        </td>
        <td><%= match.is_winner?(@player) ? '<b>WIN</b>'.html_safe : 'LOSS' %></td>
        <td><%= game_score(match.game_1) %></td>
        <td><%= game_score(match.game_2) %></td>
        <td><%= game_score(match.game_3) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
