<% no_zeros = false unless local_assigns[:no_zeros] %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Player</th>
      <th>Matches</th>
      <th>Games</th>
      <th>Skill Points</th>
      <th>Skill Trend</th>
    </tr>
  </thead>
  <tbody>
    <% pl = !no_zeros ? @players : Player.by_no_zeros %>
    <% pl.each_with_index do |player, idx| %>
      <tr>
        <td class='ranking'>#<%= link_to(player.ranking(no_zeros), player) %></td>
        <td><%= player_link(player) %></td>
        <td><%= link_to(match_record(player), player) %></td>
        <td><%= link_to(game_record(player), player) %></td>
        <td><%= link_to(number_with_precision(player.trueskill), player) %></td>
        <td><%= player_trend_icon(player) %> <%= number_with_precision(player.player_rating_trend_diff) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
