<%= avatar_big(@player)%>
    <h2> #<%= @player.ranking(true) %>. <%= @player.name %> (<%= match_record(@player) %>, <%= game_record(@player) %>)</h2>
<aside class="module full-width">
  <header>

  </header>
<%= edit_button('player', @player) %>
<div class="row">
  <h3>Skill Points: <%= number_with_precision(@player.trueskill) %></h3>
  <%= render partial: 'rivalries' %>
</div>
<h3>Match History</h3>
<%= render partial: 'matches' %>
</aside>
